# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://qwfedsioqhisuqzystwa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3ZmVkc2lvcWhpc3VxenlzdHdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2MTY2NDUsImV4cCI6MjA4NTE5MjY0NX0.vO2hGy5jMPd8cSfNQv4epjJ8TqUBlHOYsvQ2F8dyces
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3ZmVkc2lvcWhpc3VxenlzdHdhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTYxNjY0NSwiZXhwIjoyMDg1MTkyNjQ1fQ.aA5qDxlOIwCoLor6bGL1zpMcuo7PX5Ww7_dOv14tHt8

# MongoDB Configuration
MONGODB_URI=mongodb+srv://subhranshudash13_db_user:<yY8HrlG9oVSdnKqJ>@cluster0.9mgoz6x.mongodb.net/?appName=Cluster0

# Finnhub API
FINNHUB_API_KEY=d5t49bpr01qt62nh66c0d5t49bpr01qt62nh66cg

# App Configuration
NEXT_PUBLIC_APP_URL=https://invest-nova.vercel.app/
NEXT_PUBLIC_APP_NAME=InvestNova